<div fxLayout="row" fxLayoutGap="10px">
    <!-- <div> -->
        <cocktail-component-list style="width: 320px; height: 450px;" [showRecommended]="showRecommendedComponents" [showAvailable]="showAvailableComponents" [showInstalled]="showInstalledComponents"></cocktail-component-list>
    <!-- </div> -->
    <div style="width: 320px; height: 450px;">
        <cocktail-beaker [cocktail]="cocktail" [editMode]="false" (onSelectComponent)="selectComponent($event)"></cocktail-beaker>
    </div>
    <!-- <div> -->
            <cocktail-ingredients-listing style="width: 320px; height: 450px;" [cocktail]="cocktail"></cocktail-ingredients-listing>
            <!-- </div> -->
    <input type="button" value="Konvertieren" (click)="convert()">
    <input *ngIf="!editMode" type="button" value="Bearbeiten" (click)="toggleEditCocktail()">    
    <input *ngIf="editMode" type="button" value="Fertig" (click)="toggleEditCocktail()">    
</div>