<div fxLayout="row" fxLayoutGap="10px">
    <div>
        <cocktail-component-list recommendedComponentIds="recommendedComponentIds"></cocktail-component-list>
    </div>
    <div style="width: 300px; height: 500px;">
        <cocktail-beaker [cocktail]="cocktail"></cocktail-beaker>
    </div>
    <cocktail-ingredients-listing [cocktail]="cocktail"></cocktail-ingredients-listing>
    <input type="button" value="Konvertieren" (click)="convert()">
    <input *ngIf="!editMode" type="button" value="Bearbeiten" (click)="toggleEditCocktail()">    
    <input *ngIf="editMode" type="button" value="Fertig" (click)="toggleEditCocktail()">    
</div>