.glass {
    /* outline: 2px dashed black; */
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-image: url(../assets/beaker.svg);
    background-repeat: no-repeat;
    background-size: cover;
}