.component-list {
    overflow-y: scroll;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    /* border: 2px dashed #0000; */
}

.component-list.dnd-drag-over {
    /* width: 200px; */
    /* border: 2px dashed #000; */
    background-color: #eee;
}

.component {
    /* height: 35px !important; */
    /* background: #faa; */
    /* border: 1px solid #aaa; */
}

.mat-subheader {
    height: 30px !important;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: -12px !important;
    font-weight: bolder;
}