.component-list {
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    border: 2px dashed #0000;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.component-list.dnd-drag-over {
    width: 200px;
    border: 2px dashed #000;
}

.component {
    /* height: 35px !important; */
    /* background: #faa; */
    /* border: 1px solid #aaa; */
}

.section-header {
    font-weight: bolder;
    font-size: 10pt;
    margin-left: -10px;
    height: 30px !important;
    margin-top: 10px;
}

.section-header-first {
    font-weight: bolder;
    font-size: 10pt;
    margin-left: -10px;
    height: 30px !important;
}