.component-list {
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    border: 2px dashed #0000;
}

.component-list.dnd-drag-over {
    width: 200px;
    border: 2px dashed #000;
}

.component {
    /* height: 35px !important; */
    /* background: #faa; */
    /* border: 1px solid #aaa; */
}