<div fxLayout="column" fxFlex="auto">
  <mat-form-field style=" margin-bottom: -1.25em">
    <input type="search" matInput placeholder="Suchen" value="" [(ngModel)]="queryString" (ngModelChange)="updateSearchResult()">
  </mat-form-field>
  <mat-list dnd-droppable (onDropSuccess)="onDrop()" class="component-list">
    <ng-container *ngIf="queryString.length == 0">
    <!-- Recommended Components -->
    <ng-container *ngIf="showRecommended && recommendedComponents.length > 0">
        <h3 mat-subheader>Vorgeschlagene Komponenten</h3>
        <mat-list-item *ngFor="let component of recommendedComponents" class="component" (click)="onComponentClicked(component)"
          dnd-draggable [dragEnabled]="draggable == true" (onDragStart)="onDragStart(component)" (onDragEnd)="onDragEnd()">
          <div [style.backgroundColor]="component.color" style="width: 30px; height: 30px; margin-right: 10px; margin-left: -15px;"></div>
          <div fxFlex>{{component.name}}</div>
        </mat-list-item>
      </ng-container>
    <!-- Installed Components -->
    <ng-container *ngIf="showInstalled && installedComponents.length > 0">
        <h3 mat-subheader>Installierte Komponenten</h3>
        <mat-list-item *ngFor="let component of installedComponents" class="component" (click)="onComponentClicked(component)"
          dnd-draggable [dragEnabled]="draggable == true" (onDragStart)="onDragStart(component)" (onDragEnd)="onDragEnd()">
          <div [style.backgroundColor]="component.color" style="width: 30px; height: 30px; margin-right: 10px; margin-left: -15px;"></div>
          <div fxFlex>{{component.name}}</div>
        </mat-list-item>
      </ng-container>
    <!-- Available Components -->
    <ng-container *ngIf="showAvailable && availableComponents.length > 0">
        <h3 mat-subheader>Alle Komponenten</h3>
        <mat-list-item *ngFor="let component of availableComponents" class="component" (click)="onComponentClicked(component)"
          dnd-draggable [dragEnabled]="draggable == true" (onDragStart)="onDragStart(component)" (onDragEnd)="onDragEnd()">
          <div [style.backgroundColor]="component.color" style="width: 30px; height: 30px; margin-right: 10px; margin-left: -15px;"></div>
          <div fxFlex>{{component.name}}</div>
        </mat-list-item>
      </ng-container>
    </ng-container>
    <!-- Suchergebnis -->
    <ng-container *ngIf="queryString.length != 0">
        <ng-container *ngIf="queryComponents.length == 0">
            <mat-list-item>
              Keine Einträge gefunden
            </mat-list-item>
          </ng-container>
          <ng-container *ngIf="queryComponents.length > 0">
            <!-- <mat-list *ngIf="draggingMode=='true'"> -->
            <mat-list-item *ngFor="let component of queryComponents" class="component" (click)="onComponentClicked(component)" dnd-draggable
              [dragEnabled]="draggable == true" (onDragStart)="onDragStart(component)" (onDragEnd)="onDragEnd()">
              <div [style.backgroundColor]="component.color" style="width: 30px; height: 30px; margin-right: 10px; margin-left: -15px;"></div>
              <div fxFlex>{{component.name}}</div>
            </mat-list-item>
          </ng-container>
          </ng-container>
    <!-- Filtered Components -->
  </mat-list>
</div>