.ingredients-list {
    overflow-y: scroll;
}

.empty {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.total {
    font-weight: bold;
    border-top: double black;
}
