<div fxLayout="column" fxFlex="auto" class="ingredients-list">
    <mat-list>
        <mat-list-item class="header">
            <div fxFlex style="margin-left: -15px;" [innerHTML]="ingredientTitle"></div>
            <div [innerHTML]="amountTitle"></div>
        </mat-list-item>
        <ng-container *ngIf="ingredientIds.length == 0">
            <mat-list-item class="empty" fxLayoutAlign="center">
                <div [innerHTML]="noIngredients"></div>
            </mat-list-item>
        </ng-container>
        <ng-container *ngIf="ingredientIds.length > 0">
            <mat-list-item *ngFor="let componentId of ingredientIds" class="component">
                <div [style.backgroundColor]="getComponent(componentId).color" style="width: 30px; height: 30px; margin-right: 10px; margin-left: -10px;"></div>
                <div fxFlex>{{getComponentName(componentId)}}</div>
                <div>{{getComponentAmount(componentId) | number:'.2-2'}} ml</div>
            </mat-list-item>
        </ng-container>
        <ng-container *ngIf="ingredientIds.length > 0">
            <mat-list-item class="total">
                <div fxFlex style="margin-left: -15px; text-align: left;"></div>
                <div>{{cocktail.amount | number:'.2-2'}} ml</div>
            </mat-list-item>
        </ng-container>
    </mat-list>
</div>