.component {
    text-align: center;
}

.component.dnd-drag-start {
    border: 1px dotted #000;
}

.empty_placeholder {
    background-color: #ddd;
    color: black;
    text-align: center;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

.empty_placeholder.dnd-drag-over {
    background-color: #aaa;
}

.placeholder {
    background-color: #ddd;
}

.placeholder.dnd-drag-over {
    background-color: #888;
}

.beaker {
    width: 300px;
    height: 400px;
}

.glass {
    /* background-image: url(../../assets/beaker.svg); */
    background-image: url(#beaker-svg);
    background-size: 100% 100%;
}

.glass-clip {
    clip-path: url(#clipping-path-2);
    /* clip-path: polygon(4.5% 4.5%, 7.5% 96%, 92.5% 96%, 95.5% 4.5%, 4.5% 4.5%); */
}
