.component {
    background-color: #5a5;
    text-align: center;
}

.component.dnd-drag-start {
    background-color: #f83;
}

.placeholder {
    background-color: #aaa;
}

.placeholder.dnd-drag-over {
    background-color: #888;
}

.glass {
    background-image: url(../../assets/beaker.svg);
    background-size: 100% 100%;
}

.glass-clip {
    clip-path: url(#clipping-path-2);
    /* clip-path: polygon(4.5% 4.5%, 7.5% 96%, 92.5% 96%, 95.5% 4.5%, 4.5% 4.5%); */
}
