.layer {
    background-color: #559;
}

.component {
    background-color: #5a5;
    text-align: center;
}

.component.dnd-drag-start {
    background-color: #f83;
}

.placeholder {
    background-color: #aaa;
}

.placeholder.dnd-drag-over {
    background-color: #888;
}
